@page
@model www.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Вход";
}

<h1>@ViewData["Title"]</h1>
<form method="POST" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <input hidden asp-for="ReturnUrl" />
    <div class="form-item">
        <label class="form-item-label" asp-for="Login"></label>
        <div class="form-item-field">
            <input asp-for="Login" />
            <span class="form-item-error" asp-validation-for="Login"></span>
        </div>
    </div>
    <div class="form-item">
        <label class="form-item-label" asp-for="Password"></label>
        <div class="form-item-field">
            <input asp-for="Password" />
            <span class="form-item-error" asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="form-action-container">
        <a asp-page="/Account/Register" asp-route-ReturnUrl="@Model.ReturnUrl">Зарегистрироваться</a>
        <input class="btn btn-primary" type="submit" value="Войти" />
    </div>
</form>

@section scripts
{
    <partial name="_ValidationScriptsPartial" />
}