@page
@model www.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Вход";
}

<h1>@ViewData["Title"]</h1>
<form method="POST" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <input hidden asp-for="ReturnUrl"/>
    <div>
        <label asp-for="Login"></label>
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <input type="submit" value="Войти" />
    <a asp-page="/Account/Register" asp-route-ReturnUrl="@Model.ReturnUrl">Зарегистрироваться</a>
</form>

@section scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}